/* Putting background image in ::before rule so the opacity can be adusted */
.crew-page::before {
    content: ' ';
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.25;
    background-size: cover;
    background-image: url('../../../assets/img/crew/background-crew-mobile.jpg');
}

.crew-page {
    position: relative;
}

.crew-page__page-number {
    opacity: 25%;
}

.crew-page__pretitle {
    padding: 88px 0 32px;
}

.carousel__content {
    height: 223px;
    width: 87%;
    margin: auto;
    border-bottom: solid 1px #383b4b;
}

.crew-page__img {
    height: 100%;
}
