.home-page {
    background-image: url('../../../assets/img/home/background-home-mobile.jpg');
    background-size: cover;
}

.home-page__pretitle {
    color: var(--primary-color);
    padding-top: 98px;
    margin-bottom: 25px;
}

.home-page__title {
    margin-bottom: 25px;
}

.home-page__explore {
    position: absolute;
    bottom: 8%;
    left: 0;
    width: 100%;
}

.home-page__explore-btn {
    font-family: 'Bellefair', serif;
    font-size: 20px;
    background-color: var(--secondary-color);
    color: var(--base-color);
    border: none;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

@media (min-width: 768px) {
    .home-page {
        background-image: url('../../../assets/img/home/background-home-tablet.jpg');
    }
    .home-page__explore-btn {
        font-size: 32px;
        width: 242px;
        height: 242px;
    }
}

@media (min-width: 992px) {
    .home-page {
        background-image: url('../../../assets/img/home/background-home-desktop.jpg');
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
    .home-page__explore-btn {
        width: 274px;
        height: 274px;
    }
    .home-page__content {
        display: inline-block;
        margin: 0 0 200px 12%;
        max-width: 600px;
        text-align: left;
    }
    .home-page__explore {
        display: inline-block;
        position: static;
        width: auto;
        margin: 0 12% 200px 0;
    }
}
