.home-page {
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/img/home/background-home-mobile.jpg');
    background-size: cover;
    text-align: center;
}

.home-page__pretitle {
    color: var(--primary-color);
    padding-top: 98px;
    margin-bottom: 25px;
}

.home-page__title {
    margin-bottom: 25px;
}

.home-page__bodytext {
    color: var(--primary-color);
    margin: auto;
    padding: 0 25px;
    max-width: 444px;
    line-height: 1.5;
}

.home-page__explore {
    position: absolute;
    bottom: 8%;
    left: 0;
    width: 100%;
}

.home-page__explore-btn {
    font-family: 'Bellefair', serif;
    font-size: 20px;
    background-color: var(--secondary-color);
    color: var(--base-color);
    border: none;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

@media (min-width: 768px) {
    .home-page {
        background-image: url('../../../assets/img/home/background-home-tablet.jpg');
    }
    .home-page__explore-btn {
        font-size: 32px;
        width: 242px;
        height: 242px;
    }
}

@media (min-width: 992px) {
    .home-page {
        background-image: url('../../../assets/img/home/background-home-desktop.jpg');
    }
    .home-page__explore-btn {
        width: 274px;
        height: 274px;
    }
}
