main {
    background-color: black;
    position: relative;
    height: 100%;
}

.page__logo {
    position: absolute;
    left: 24px;
    top: 24px;
    width: 40px;
    height: 40px;
}

.page__hamburger {
    position: absolute;
    right: 24px;
    top: 33px;
    width: 24px;
    height: 21px;
}
