@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');
/*
    font-family: 'Barlow', sans-serif;
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Bellefair', serif;
*/

:root {
    --base-color: #0b0d17;
    --primary-color: #d0d6f9;
    --secondary-color: #ffffff;
}

* {
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
}

body {
    margin: 0;
    font-size: 15px;
    font-family: 'Barlow', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
