@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');
/*
    font-family: 'Barlow', sans-serif;
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Bellefair', serif;
*/

:root {
    --base-color: #0b0d17;
    --primary-color: #d0d6f9;
    --secondary-color: #ffffff;
}

* {
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
}

body {
    margin: 0;
    font-size: 15px;
    font-family: 'Barlow', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--secondary-color);
    text-align: center;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

h1 {
    font-family: 'Bellefair', serif;
    font-size: 80px;
    margin-block: auto;
}

h6 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    margin-block: auto;
    letter-spacing: 2.7px;
    resize: horizontal;
}

@media (min-width: 768px) {
    body {
        font-size: 18px;
    }
    h1 {
        font-size: 150px;
    }
    h6 {
        font-size: 32px;
    }
}

.page {
    width: 100%;
    height: 100%;
}

.body-text {
    color: var(--primary-color);
    margin: auto;
    padding: 0 25px;
    max-width: 444px;
    line-height: 1.5;
}
