@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');
/*
    font-family: 'Barlow', sans-serif;
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Bellefair', serif;
*/

:root {
    --base-color: #0b0d17;
    --primary-color: #d0d6f9;
    --secondary-color: #ffffff;
    --dark-color: #383b4b;

    --tablet-min-width: 768px;
    --desktop-min-width: 992px;
}

* {
    box-sizing: border-box;
}

html,
body,
#root {
    min-height: 100vh;
}

body {
    margin: 0;
    font-size: 15px;
    font-family: 'Barlow', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--secondary-color);
    text-align: center;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

h1,
h2 {
    font-family: 'Bellefair', serif;
    margin-block: auto;
    margin-block: auto;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 56px;
}

h6 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    margin-block: auto;
    letter-spacing: 2.7px;
    resize: horizontal;
}

.page {
    width: 100%;
    min-height: 100vh;
}

.body-text {
    color: var(--primary-color);
    margin: auto;
    padding: 0 25px;
    max-width: 444px;
    line-height: 1.5;
}

.separator {
    width: 87%;
    border: solid 1px var(--dark-color);
    margin: 32px auto;
}

@media (min-width: 768px) {
    body {
        font-size: 16px;
    }
    h2 {
        font-size: 80px;
    }
    h6 {
        font-size: 20px;
    }
    .separator {
        margin: 50px auto 32px;
        width: 75%;
    }
    .body-text {
        max-width: none;
        width: 75%;
        font-size: 16px;
    }
}

@media (min-width: 992px) {
    body {
        font-size: 18px;
    }
    h1 {
        font-size: 150px;
    }
    h6 {
        font-size: 32px;
    }
    .body-text {
        font-size: 18px;
        margin-left: 0;
        padding-left: 0;
        text-align: left;
    }
    .separator {
        margin-left: 0;
    }
}
